[Unit]
Description=Jupyter Workplace

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/home/rhyme/anaconda3/bin/jupyter-notebook --config=/home/rhyme/.jupyter/jupyter_notebook_config.json
User=rhyme
Group=rhyme
WorkingDirectory=/home/rhyme/Desktop/Project
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
